<div class="bg" [ngClass]="isDay ? '' : 'night' ">
  <div class="time-circle">
    <div class="sun" [@sun]="isDay ? 'sunrise' : 'sunset' "></div>
    <div class="moon">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="stars">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="water"></div>
  </div>

  <div id="switch" (click)="switch()" [ngClass]="isDay ? '' : 'switched' ">
    <div id="circle"></div>
  </div>
</div>
