.bg {
  background: #f1ede3;
  width: 100%;
  height: calc(100vh - 40px);
  padding-top: 40px;

  transition: background 0.5s ease-in-out;
}
.night {
  background: #080d17;
  color: #e9e5d5;
}

.time-circle {
  position: relative;
  background: linear-gradient(to bottom, #be4405, #f6c60c);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 4px solid #555;
  overflow: hidden;
  padding: 0px;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  // transition: all 1.1s ease-in-out; // 移除 transition

  // 用 after 顯示要變換的顏色
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #111936, #285a7b);
    border-color: #e9e5d5;
    opacity: 0;
    transition: opacity 1.1s ease-in-out;
  }
}
// 晚上時變換 time-circle::after 的 opacity
.night .time-circle::after {
  opacity: 1;
}
.sun {
  margin-top: 20px;
  background: #f2ef88;
  box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
  width: 30%;
  height: 30%;
  border-radius: 50%;
  position: relative;
  left: 35%;
  top: 48%;
  z-index: 10; // 加入 z-index

  animation: pulse 5s ease infinite alternate;
  transition: transform 1.1s 0.4s ease;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
  }
  50% {
    box-shadow: 0 0 40px rgba(242, 239, 136, 1);
  }
  100% {
    box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
  }
}
// .night .sun {
//   // 改成變換 transform
//   transform: translate(-100px, 100px);
//   transition: transform 1.1s 0s ease;
// }

.moon {
  position: absolute;
  margin-top: 20px;
  background: #d9d8d0;
  box-shadow: inset -10px 2px 0 0px #899098;
  width: 22.5%;
  height: 22.5%;
  border-radius: 100%;
  position: relative;
  left: 120%;
  margin-left: -50px;
  top: -50%;
  overflow: hidden;
  z-index: 10; // 加入 z-index

  transition: transform 1.1s 0s ease;
}
.night .moon {
  // 改成變換 transform
  transform: translate(-200px, 160px);
  transition: transform 1.1s 0.4s ease;
}
.moon div:nth-child(n) {
  position: relative;
  background: #b9b8b0;
  border-radius: 50%;
  box-shadow: inset 4px -2px 0 0px #535457;
}
.moon div:nth-child(1) {
  top: 25%;
  left: 12%;
  width: 27%;
  height: 27%;
}
.moon div:nth-child(2) {
  top: -11%;
  left: 60%;
  width: 16%;
  height: 16%;
}
.moon div:nth-child(3) {
  top: 25%;
  left: 44%;
  width: 16%;
  height: 16%;
}

.stars {
  opacity: 0;
  position: relative;
  top: -250px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.8s 0s ease;
  z-index: 1000;
}
.night .stars {
  opacity: 1;
  transform: translate(-80px, 80px);
  // transition: all 3s 0.4s ease;
  transition: opacity 3s 0.4s ease, transform 1s 0s ease;
}
.stars div:nth-child(n) {
  position: absolute;
  background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  overflow: hidden;
  width: 4px;
  height: 4px;

  margin-left: 20%;
  margin-top: -20%;

  transition: all 1s 0s ease;
}
// 移除 stars child 動畫
// .night .stars div:nth-child(n) {
//   margin-left: 0;
//   margin-top: 0;

//   transition: all 1s 0.4s ease-out;
// }
.stars div:nth-child(1) {
  left: 25%;
  top: 30%;
}
.stars div:nth-child(2) {
  left: 55%;
  top: 20%;
}
.stars div:nth-child(3) {
  left: 60%;
  top: 60%;
}
.stars div:nth-child(4) {
  left: 40%;
  top: 45%;
}
.stars div:nth-child(5) {
  left: 15%;
  top: 55%;
}
.stars div:nth-child(6) {
  left: 40%;
  top: 10%;
}
.stars div:nth-child(7) {
  left: 80%;
  top: 55%;
}
.water {
  position: absolute;
  background: repeating-radial-gradient(ellipse farthest-corner at center -400%, #f5c30e 30%, #518eac 90%) repeat scroll
    0 0 #518eac;
  width: 100%;
  height: 200px;
  top: 68%;
  z-index: 20; // 加入 z-index

  transition: opacity 1.1s ease;

  // 用 after 顯示要變換的顏色
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: repeating-radial-gradient(ellipse farthest-corner at center -400%, #7fa1bb 30%, #1d425a 90%) repeat
      scroll 0 0 #1d425a;
    opacity: 0;
    transition: opacity 1.1s ease-in-out;
  }
}
.night .water::after {
  opacity: 1;
}

#switch {
  width: 60px;
  margin: 0 auto;
  border-radius: 27px;
  background: #da8508;
  position: relative;
  height: 30px;
  // transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1); 移除 transition

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background: #1c3958;
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
  }
}
#circle {
  position: relative;
  top: 2.5px;
  right: -3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  background: #e9e5d5;
  z-index: 10; // 加入 z-index
  transition: transform 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
}
.switched {
  // 改變 after 的 opacity
  &::after {
    opacity: 1 !important;
  }
}
.switched #circle {
  transform: translateX(30px); // 改成 transform
}
