<div class="bg" [ngClass]="isDay ? '' : 'night' ">
  <div class="time-circle">
    <div class="sun"></div>
    <div class="moon">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="stars">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="water"></div>
  </div>

  <div class="switch" (click)="switch()">
    <div class="circle"></div>
  </div>
</div>
