.bg {
  background: #f1ede3;
  width: 100%;
  height: calc(100vh - 40px);
  padding-top: 40px;

  transition: background 0.5s ease-in-out;
}
.night {
  background: #080d17;
  color: #e9e5d5;
}

.time-circle {
  position: relative;
  background: linear-gradient(to bottom, #be4405, #f6c60c);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 4px solid #555;
  overflow: hidden;
  padding: 0px;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-align: center;

  transition: all 1.1s ease-in-out;
}
.night .time-circle {
  background: linear-gradient(to bottom, #111936, #285a7b);
  border-color: #e9e5d5;
}
.sun {
  margin-top: 20px;
  background: #f2ef88;
  box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
  width: 30%;
  height: 30%;
  border-radius: 50%;
  position: relative;
  left: 35%;
  top: 48%;

  animation: pulse 5s ease infinite alternate;
  transition: all 1.1s 0.4s ease;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
  }
  50% {
    box-shadow: 0 0 40px rgba(242, 239, 136, 1);
  }
  100% {
    box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
  }
}

.night .sun {
  top: 70%;
  left: 20%;

  transition: all 1.1s 0s ease;
}

.moon {
  position: absolute;
  margin-top: 20px;
  background: #d9d8d0;
  box-shadow: inset -10px 2px 0 0px #899098;
  width: 22.5%;
  height: 22.5%;
  border-radius: 100%;
  position: relative;
  left: 120%;
  margin-left: -50px;
  top: -50%;
  overflow: hidden;

  transition: all 1.1s 0s ease;
}
.night .moon {
  left: 65%;
  top: -10%;

  transition: all 1.1s 0.4s ease;
}
.moon div:nth-child(n) {
  position: relative;
  background: #b9b8b0;
  border-radius: 50%;
  box-shadow: inset 4px -2px 0 0px #535457;
}
.moon div:nth-child(1) {
  top: 25%;
  left: 12%;
  width: 27%;
  height: 27%;
}
.moon div:nth-child(2) {
  top: -11%;
  left: 60%;
  width: 16%;
  height: 16%;
}
.moon div:nth-child(3) {
  top: 25%;
  left: 44%;
  width: 16%;
  height: 16%;
}
.stars {
  opacity: 0;
  position: relative;
  top: -250px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.8s 0s ease;
  z-index: 1000;
}
.night .stars {
  opacity: 1;

  transition: all 3s 0.4s ease;
}
.stars div:nth-child(n) {
  position: absolute;
  background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  overflow: hidden;
  width: 4px;
  height: 4px;

  margin-left: 20%;
  margin-top: -20%;

  transition: all 1s 0s ease;
}
.night .stars div:nth-child(n) {
  margin-left: 0;
  margin-top: 0;

  transition: all 1s 0.4s ease-out;
}
.stars div:nth-child(1) {
  left: 25%;
  top: 30%;
}
.stars div:nth-child(2) {
  left: 55%;
  top: 20%;
}
.stars div:nth-child(3) {
  left: 60%;
  top: 60%;
}
.stars div:nth-child(4) {
  left: 40%;
  top: 45%;
}
.stars div:nth-child(5) {
  left: 15%;
  top: 55%;
}
.stars div:nth-child(6) {
  left: 40%;
  top: 10%;
}
.stars div:nth-child(7) {
  left: 80%;
  top: 55%;
}
.water {
  position: absolute;
  background: repeating-radial-gradient(ellipse farthest-corner at center -400%, #f5c30e 30%, #518eac 90%) repeat scroll
    0 0 #518eac;
  width: 100%;
  height: 200px;
  top: 68%;

  transition: all 1.1s ease;
}
.night .water {
  background: repeating-radial-gradient(ellipse farthest-corner at center -400%, #7fa1bb 30%, #1d425a 90%) repeat scroll
    0 0 #1d425a;
}

.switch {
  width: 60px;
  margin: 0 auto;
  border-radius: 27px;
  background: #da8508;
  position: relative;
  height: 30px;
  transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
}
.circle {
  position: relative;
  top: 2.5px;
  right: -3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  background: #e9e5d5;
  transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
}
.night .switch {
  border-color: #1c3958 !important;
  background: #1c3958 !important;
}
.night .switch .circle {
  margin-left: 50%;
}
